body{
	background-color: #a1997e;
	font-family: 'Roboto', Optima, Arial, sans-serif;
}

::-webkit-scrollbar{
	display: none;
}

.resume-buttons{
	width: 129px;
	height: 30px;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	text-align: center;
	line-height: 30px;
	visibility: hidden;

	transition: 0.5s;
}
	.resume-buttons:hover{
		background-color: rgba(0, 0, 0, .6);
		cursor: pointer;

		transition: 0.5s;
	}

.icons{
	display: inline;
}

.section-header{
	text-align: center;
	display: block;
	width: 1920px;
	margin-left: -9px;
	height: 105px;
	background-color: rgba(255, 255, 255, .7);
}

.section-header-icon{
	width: 95px;
	float: left;
	margin-left: 820px;
	margin-top: 5px;
}

.section-header-text{
	position: absolute;
	width: 100%;
	margin-top: 30px;
	margin-left: 40px;
	font-size: 30px;
}

.school-div{
	margin-left: 600px;
	height: 140px;
}

.school-name{
	font-size: 25px;
	display: inline;
}

.school-major{
	font-size: 16px;
}

.school-dates{
	font-size: 18px;
	color: navy;
	display: inline;
}

.school-gpa{
	font-size: 16px;
}

.school-info{
	display: inline;
	position: absolute;
	margin-left: 10px;
}

.school-courses{
	font-size: 18px;
	color: maroon;
	font-style: italic;
}

.school-icon{
	width: 85px;
}

#my-name{
	margin-top: 40px;
	width: 100%;
	text-align: center;
	color: black;
	font-size: 45px;
}

#kongregate-icon{
	margin-left: -225px;
	margin-top: 0px;
	position: absolute;
}

#header-wrapper{
	text-align: center;
	margin-right: 40px;
}

#resume-div{
	margin-left: -75px;
	position: absolute;
}

#resume-text{
	text-align: center;
	width: 100%;
	color: white;
}

#computer-icon{
	width: 400px;
	margin-left: 10px;
}

#my-picture{
	position: absolute;
	width: 161px;
	height: 161px;
	margin-left: 875px;
	margin-top: 122.5px;
	visibility: hidden;
}

#linkedin-icon{
	margin-left: -30px;
	position: absolute;
}

#github-icon{
	margin-left: 120px;
	position: absolute;
}

#education-wrapper{
	position: relative;
	margin-top: 10px;
}
